.App {
  /* text-align: center; */
  background-color: #233548;
  height: 100vh;
  width: 100vw;
}
/*
.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(40px + 2vmin);
  color: white;
}

.Title {
  margin-left: 50px;
  margin-top: 50px;
  font-family: "Poiret One", cursive;
}

.Creators {
  margin-left: 50px;
  margin-top: 10px;
  font-family: "Poiret One", cursive;
  font-size: 25px;
} */

.Nav {
  font-family: "Poiret One", cursive;
  font-weight: bolder;
}

.Main {
  display: flex;
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: calc(0px + 2vmin);
  font-family: "Quicksand", sans-serif;
}

.NoteList {
  background-color: None;
  overflow-y: scroll;
  height: 93vh;
  width: 20vw;
  background-color: #233548;
  font-size: 0.8em;
}

.Editor {
  /* display: flex; */
  width: 80vw;
  padding: 50px;
  margin: 0px;
  background-color: #233548;
  overflow-y: scroll;
  white-space: pre-wrap;
  color: white;
  border: none;
  /* resize: none; */
}

input:focus,
textarea:focus,
div:focus,
pre:focus,
select:focus {
  outline: none;
}

p {
  min-height: 1em;
}
