.App {
  text-align: center;
  background-color: #233548;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(40px + 2vmin);
  color: white;
}

.Title {
  margin-left: 50px;
  margin-top: 50px;
  font-family: "Poiret One", cursive;
}

.Creators {
  margin-left: 50px;
  margin-top: 10px;
  font-family: "Poiret One", cursive;
  font-size: 25px;
}

.Main {
  display: flex;
  margin: 50px;
  color: white;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(40px + 2vmin);
  color: white;
}

.Title {
  margin-left: 50px;
  margin-top: 50px;
  font-family: "Poiret One", cursive;
}

.Creators {
  margin-left: 50px;
  margin-top: 10px;
  font-family: "Poiret One", cursive;
  font-size: 25px;
}

.Main {
  display: flex;
  margin: 50px;
  color: white;
  font-size: calc(10px + 2vmin);
  font-family: "Quicksand", sans-serif;
}

.MainList {
  display: flex;
  padding: 10px;
  min-height: 60vh;
  width: 30%;
  border-radius: 20px;
  border: 2px solid white;
}

.MainSelected {
  display: flex;
  margin-left: 25px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid white;
  width: 60%;
}
